body{
			background-color:#575fcf;
		}
		#login-box{
			background-color: white;
			width: 380px;
			height: 290px;
			margin: 140px auto 0px;
			border-radius: 5px;
		}
		#login-box-label{
			height: 45px;
			text-align: center;
			font: bold 14px/45px sans-serif;
			border-bottom: 1px solid;
			box-shadow: 1px 0px 3px black;
			color: #555555;
			text-shadow: 1px 0px 1px white; 
		}
		.input-div{
			margin: 20px;
			padding: 5px;
			background-color: #f2f5f7;
			border-radius: 3px;
		}
		.input-div input{
			width: 310px;
			height: 35px;
			padding-left: 5px;
			font: normal 13px sans-serif;
			color: #333;
			border-radius: 3px;
			border: 1px solid #bfc4c6;
			outline: none;
		}
		.input-div:hover{
			background-color: #e0f1fc;
		}
		.input-div:hover input{
			border-color: #3c40c6;
		}
		#input-senha{
			margin-top: -10px; 
		}
		#botoes{
			display: flex;
			padding: 5px 10px;
		}
		#botoes button{
			border-radius: 4px;
			padding: 15px 25px;
			margin-left: 50px;
			border: 2px solid #1e272e;
			background-color: #3c40c6;
			color: #fff;
		}
		#botoes button:hover{
			background-color: #fff;
			color:  #3c40c6;
			cursor: pointer;
		}
		#botoes .container{
			display: block;
			position: relative;
		}
		#botoes .container  input{
			cursor: pointer;
		}
		.ilustra img{
			width: 350px;
			height: 250px;
			position: absolute;
			top: 200px;
		}
		
		.forgot a{
			color: #fff;
			margin-left: 600px;
			text-decoration: none;
		}

		.forgot{
			margin-top: 15px;
		}