*{
	margin: 0;
}

/* Nav Bar */

nav{
	font-size: 1em;
	background-color: #4bcffa;
}
nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	
}
nav ul li {
	padding: 20px 2px;
	flex: auto;
	text-align: center;
}

nav ul li a{
	text-decoration: none;
	list-style: none;
	color: #1e272e;
}
nav ul li a:hover{
	color: #3c40c6;
}

/** Hero */

.hero{
	height: 40em;
	background: url(../img/hero.jpg);
	background-size: cover;
	position: relative;
}
.conteudo{
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    background:  rgba(0, 0, 163, 0.2);
}
.titulo{
	font-family: 'Comic Neue', cursive;
	font-size: 48pt;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#3c40c6;
}

.subtitulo{
	font-family: 'Liu Jian Mao Cao', cursive;
	font-size: 32pt;
	display: flex;
	justify-content: center;
	color: #1e272e;
}
.about{
	background-color: #d2dae2;
	font-family: 'Comic Neue', cursive;
	padding: 1px;
	display: flex;
	flex-wrap: nowrap;
}
.desc{
	text-align: center;
}
.desc h2{
	font-size: 32pt;
}
.desc .arte img{
	width: 500px;
	height : 350;
}

.equipe{
	background-color: #808e9b;
	display: flex;
	padding: 25px;
}
.avatar{
	padding: 50px 20px;
}
.avatar img{
	width: 250px;
	height: 150px;
	border-radius: 50%;
}
.avatar i{
	padding: 5px;
}
.avatar a {
	text-decoration: none;
	color: #1e272e;
}
.avatar a:hover{
	color: #4bcffa;
}